---
import Section from "../Section.astro";
import { work } from "@cv";
---

<Section className={Astro.props.className} title="Experience">
  <ul class="flex flex-col">
    {
      work.map(
        ({
          name,
          startDate,
          endDate,
          position,
          responsibilities,
          url,
          skills,
          location,
          location_type,
        }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Present";

          return (
            <li class="relative print:py-2">
              <div class="group relative grid pb-1 transition-all sm:grid-cols-12 sm:gap-8 md:gap-6 lg:hover:opacity-100! print:grid-cols-1 print:gap-1 print:pb-0">
                <header class="relative mt-1 text-xs font-semibold sm:col-span-2">
                  <time datetime={startDate}>{startYear}</time> -{" "}
                  <time datetime={endDate}>{endYear}</time>
                </header>
                <div class="before:bg-skin-fill-muted relative flex flex-col pb-6 before:absolute before:mt-2 before:-ml-6 before:h-full before:w-px sm:col-span-10 print:pb-0 print:before:hidden">
                  <div class="bg-skin-fill-muted ring-skin-fill absolute mt-2 h-2 w-2 -translate-x-[1.71rem] rounded-full ring-3 print:hidden" />

                  <h3>
                    <div class="group/link inline-flex items-center text-lg leading-tight print:text-base">
                      <span>
                        {position} <span>@</span>{" "}
                        {url ? (
                          <a
                            class="text-skin-hue"
                            href={url}
                            title={`View ${name}`}
                            target="_blank"
                          >
                            {name}
                          </a>
                        ) : (
                          <span>{name}</span>
                        )}
                      </span>
                      {url && (
                        <span class="text-skin-hue inline-block print:[&>svg]:hidden">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20"
                            fill="currentColor"
                            class="ml-1 inline-block h-4 w-4 shrink-0 translate-y-px transition-transform group-hover/link:translate-x-1 group-hover/link:-translate-y-1"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                              clip-rule="evenodd"
                            />
                          </svg>
                        </span>
                      )}
                    </div>
                  </h3>

                  {(location || location_type) && (
                    <div class="text-skin-muted text-xs">
                      {location} {location && location_type && "-"}{" "}
                      {location_type}
                    </div>
                  )}

                  {/* Responsibilities */}
                  {responsibilities && (
                    <div class="mt-4 flex flex-col gap-1 text-sm print:gap-0 print:text-xs">
                      <h4>Responsibilities:</h4>
                      <ul class="text-skin-muted flex list-disc flex-col gap-2 [&>li]:ml-4">
                        {responsibilities.map((responsibility) => (
                          <>
                            <li>{responsibility}</li>
                          </>
                        ))}
                      </ul>
                    </div>
                  )}

                  {/* Skills */}
                  {skills && (
                    <ul
                      class="mt-4 flex flex-wrap gap-2 print:hidden"
                      aria-label="Technologies used"
                    >
                      {skills.map((skill) => (
                        <li class="bg-skin-button-accent/20 border-skin-hue/20 text-skin-hue flex items-center gap-1 rounded-md border px-2 py-0.5 text-xs print:bg-transparent print:text-zinc-800">
                          <span>{skill}</span>
                        </li>
                      ))}
                    </ul>
                  )}
                </div>
              </div>
            </li>
          );
        },
      )
    }
  </ul>
</Section>

<style>
  @reference "@/styles/global.css";
  li::marker {
    @apply text-skin-hue;
  }
</style>
